@font-face {
  font-family: "Gotham Rounded Bold";
  src: url("../fonts/GothamRounded-Bold.otf") format("opentype");
  src: url("../fonts/GothamRoundedBold_21016.ttf") format("truetype"); }
@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../fonts/GothamRounded-Book.otf") format("opentype");
  src: url("../fonts/GothamRoundedBook_21018.ttf") format("truetype"); }
@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("../fonts/GothamRounded-Medium.otf") format("opentype");
  src: url("../fonts/GothamRoundedMedium_21022.ttf") format("truetype"); }
@font-face {
  font-family: "Gotham Rounded Light";
  src: url("../fonts/GothamRounded-Light.otf") format("opentype");
  src: url("../fonts/GothamRoundedLight_21020.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

/*------------------------------------------------------------------
                            HEADER
----------------------------------------------------------------*/
header {
  height: 100vh;
  background-image: url("../images/header-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  header .sticky {
    background-color: rgba(0, 0, 0, 0.8);
    height: 90px; }
  header nav {
    height: 130px;
    transition-duration: 0.5s; }
    header nav .hidden-img {
      display: none;
      margin: 10px; }
      header nav .hidden-img a {
        letter-spacing: 2.4px;
        font-size: 16px;
        color: #ffffff !important;
        text-transform: uppercase;
        font-family: "Gotham Rounded Medium";
        font-weight: 700;
        cursor: pointer;
        transition-duration: 0.5s;
        margin-left: 20px; }
    header nav div .navbar-nav {
      padding: 0;
      list-style-type: none;
      margin: 0; }
      header nav div .navbar-nav img {
        margin: 0 70px; }
      header nav div .navbar-nav li {
        margin: 0 30px;
        display: inline-block;
        transition-duration: 0.5s; }
        header nav div .navbar-nav li:hover {
          transform: scale(1.1); }
        header nav div .navbar-nav li:hover a {
          color: #16a085 !important; }
        header nav div .navbar-nav li a {
          letter-spacing: 2.4px;
          font-size: 16px;
          color: #ffffff !important;
          text-transform: uppercase;
          font-family: "Gotham Rounded Medium";
          font-weight: 700;
          cursor: pointer;
          transition-duration: 0.5s; }
  header .headline {
    text-align: center;
    position: absolute;
    top: calc(50% - 75px); }
    header .headline p {
      color: #ffffff !important;
      font-size: 16px;
      letter-spacing: 2.4px;
      font-weight: 500;
      font-family: "Gotham Rounded Light";
      margin-bottom: 25px; }
    header .headline h1 {
      color: #ffffff !important;
      font-size: 36px;
      font-weight: 700px;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      font-family: "Gotham Rounded Bold"; }
    header .headline button {
      width: 166px;
      height: 49px;
      border-radius: 3px;
      background-color: #16a085 !important;
      border: none;
      color: #ffffff !important;
      font-family: "Gotham Rounded Light";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      line-height: 49px;
      cursor: pointer;
      transition-duration: 0.5s; }
      header .headline button:hover {
        background-color: #2fd6b5 !important;
        transform: scale(1.1); }

.icon-container {
  position: absolute;
  bottom: 26px;
  left: calc(50% - 60px); }
  .icon-container img {
    margin: 0 6px;
    cursor: pointer;
    transition-duration: 0.5s; }
    .icon-container img:hover {
      transform: scale(1.3); }

/*---------------------------------------------------------------------------
                            HAND & PHONE
---------------------------------------------------------------------*/
.handWithPhone-section {
  background-color: #f5f6f7 !important;
  background-image: url("../images/handAndPhone.png");
  background-repeat: no-repeat;
  background-position: 79% 100%;
  padding: 120px 0 90px 120px; }
  .handWithPhone-section div h4 {
    font-family: "Gotham Rounded Medium";
    color: #16a085 !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 45px; }
  .handWithPhone-section div p {
    font-family: "Gotham Rounded Book";
    color: #373737 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.8px;
    margin-bottom: 49px; }
    .handWithPhone-section div p b {
      font-family: "Gotham Rounded Bold"; }
  .handWithPhone-section div button {
    width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color: #16a085 !important;
    border: none;
    color: #ffffff !important;
    font-family: "Gotham Rounded Light";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 49px;
    cursor: pointer;
    transition-duration: 0.5s; }
    .handWithPhone-section div button:hover {
      background-color: #2fd6b5 !important;
      transform: scale(1.1); }

/*--------------------------------------------------------------------------
                            CAROUSEL WITH PHONE
----------------------------------------------------------------------*/
.carousel-section .design-container {
  padding: 105px 0 52px 0; }
  .carousel-section .design-container h4 {
    font-family: "Gotham Rounded Medium";
    color: #16a085 !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 39px; }
  .carousel-section .design-container p {
    font-family: "Gotham Rounded Book";
    color: #373737 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.8px;
    margin-bottom: 49px; }
    .carousel-section .design-container p b {
      font-family: "Gotham Rounded Bold"; }
  .carousel-section .design-container button {
    width: 192px;
    height: 51px;
    background-color: #16a085 !important;
    border: none;
    color: #ffffff !important;
    font-family: "Gotham Rounded Light";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 49px;
    cursor: pointer;
    transition-duration: 0.5s; }
    .carousel-section .design-container button:hover {
      background-color: #2fd6b5 !important;
      transform: scale(1.1); }
  .carousel-section .design-container .switch {
    color: #373737 !important;
    font-family: "Gotham Rounded Medium";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 45px; }
    .carousel-section .design-container .switch .swith-icon {
      text-decoration: none;
      text-transform: uppercase; }
    .carousel-section .design-container .switch .fa {
      font-size: 27px !important;
      color: #373737;
      margin-right: 10px; }
    .carousel-section .design-container .switch a {
      text-decoration: none;
      cursor: pointer; }
.carousel-section .carousel-size {
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  background-image: url("../images/phone-blue.jpg");
  background-size: 300px 400px; }

/*----------------------------------------------------------
            MINI CAROUSEL
-------------------------------------------------------*/
.our-community-section {
  background-color: #f5f6f7 !important;
  padding: 120px 0; }
  .our-community-section .our-community-headline {
    text-align: center; }
    .our-community-section .our-community-headline img {
      margin-top: 55px;
      margin-bottom: 31px; }
    .our-community-section .our-community-headline h4 {
      color: #373737 !important;
      font-family: "Gotham Rounded Medium";
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin-bottom: 24px; }
    .our-community-section .our-community-headline p {
      color: #373737 !important;
      font-family: "Gotham Rounded Medium";
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 1.5px; }
  .our-community-section .double-carousel div {
    text-align: right; }
    .our-community-section .double-carousel div span {
      margin-right: 10px; }
      .our-community-section .double-carousel div span a {
        text-decoration: none;
        cursor: pointer; }
        .our-community-section .double-carousel div span a .fa {
          font-size: 27px !important;
          color: #373737;
          margin-right: 10px; }
  .our-community-section .double-carousel .carousel .carousel-inner .layoutImages .imgSize {
    width: 370px;
    height: 244px;
    margin: 0 10px; }

/* ---------------------------------------------------------
            SUBSCRIBE SECTION
------------------------------------------------ */
section .subscribe-section-background {
  width: 100%;
  height: 70vh;
  background-image: url("../images/livello-3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  section .subscribe-section-background h3 {
    color: #ffffff;
    font-family: "Gotham Rounded Medium";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 30px; }
  section .subscribe-section-background .email-form {
    width: 280px;
    height: 60px;
    background-color: #ffffff;
    color: #373737 !important;
    font-family: "Gotham Rounded Medium";
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding-left: 20px;
    border: none; }
  section .subscribe-section-background .submit-button {
    width: 63px;
    height: 60px;
    border-radius: 0 3px 3px 0;
    background-color: #16a085 !important;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s; }
    section .subscribe-section-background .submit-button:hover {
      background-color: #2fd6b5 !important; }

/*----------------------------------------------------------------
            DOWNLOAD IT SECTION
----------------------------------------------------------- */
.download-it {
  background-color: #f5f6f7 !important;
  padding-top: 90px;
  padding-bottom: 116px; }
  .download-it .download-it-headline {
    text-align: center; }
    .download-it .download-it-headline h2 {
      color: #373737 !important;
      font-family: "Gotham Rounded Medium";
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .download-it .download-it-headline p {
      color: #373737 !important;
      font-family: "Gotham Rounded Medium";
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      margin-bottom: 48px; }
  .download-it .margin-right {
    margin-right: 20px; }
  .download-it .button-container:hover button {
    background-color: #16a085 !important; }
  .download-it .button-container button {
    width: 240px;
    height: 56px;
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;
    border: none;
    color: #ffffff;
    font-family: "Gotham Rounded Medium";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    transition-duration: 0.5s;
    cursor: pointer; }
  .download-it .button-container span {
    width: 56px;
    height: 56px;
    border-radius: 0 3px 3px 0;
    background-color: #16a085 !important;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer; }

footer {
  padding: 42px 0 35px 0; }
  footer .row .col-xl-10 h4 {
    color: #373737 !important;
    font-family: "Gotham Rounded Medium";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.1px; }
    footer .row .col-xl-10 h4 a {
      text-decoration: none;
      color: inherit;
      transition-duration: 0.5s; }
      footer .row .col-xl-10 h4 a:hover {
        color: #16a085 !important; }
    footer .row .col-xl-10 h4 span {
      color: #16a085 !important; }
  footer .row .col-xl-10 p {
    color: #373737 !important;
    font-family: "Gotham Rounded Medium";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px; }

@media (max-width: 575.98px) {
  header .sticky {
    height: auto; }
  header nav {
    background-color: rgba(0, 0, 0, 0.8);
    height: auto; }
    header nav .hidden-img {
      display: inline-block; }
      header nav .hidden-img img {
        height: 43px;
        width: 45px; }
    header nav div .navbar-nav img {
      display: none; }
    header nav div .navbar-nav li {
      margin: 3px 30px;
      display: inline-block;
      transition-duration: 0.5s; }
      header nav div .navbar-nav li:hover {
        transform: scale(1.1); }
      header nav div .navbar-nav li:hover a {
        color: #16a085 !important; }
      header nav div .navbar-nav li a {
        letter-spacing: 2.4px;
        font-size: 16px;
        color: #ffffff !important;
        text-transform: uppercase;
        font-family: "Gotham Rounded Medium";
        font-weight: 700;
        cursor: pointer;
        transition-duration: 0.5s; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  header .sticky {
    height: auto; }
  header nav {
    background-color: rgba(0, 0, 0, 0.8);
    height: auto; }
    header nav .hidden-img {
      display: inline-block; }
      header nav .hidden-img img {
        height: 43px;
        width: 45px; }
    header nav div .navbar-nav img {
      display: none; }
    header nav div .navbar-nav li {
      margin: 3px 30px;
      display: inline-block;
      transition-duration: 0.5s; }
      header nav div .navbar-nav li:hover {
        transform: scale(1.1); }
      header nav div .navbar-nav li:hover a {
        color: #16a085 !important; }
      header nav div .navbar-nav li a {
        letter-spacing: 2.4px;
        font-size: 16px;
        color: #ffffff !important;
        text-transform: uppercase;
        font-family: "Gotham Rounded Medium";
        font-weight: 700;
        cursor: pointer;
        transition-duration: 0.5s; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  header .sticky {
    height: auto; }
  header nav {
    background-color: rgba(0, 0, 0, 0.8);
    height: auto; }
    header nav .hidden-img {
      display: inline-block; }
      header nav .hidden-img img {
        height: 43px;
        width: 45px; }
    header nav div .navbar-nav img {
      display: none; }
    header nav div .navbar-nav li {
      margin: 3px 30px;
      display: inline-block;
      transition-duration: 0.5s; }
      header nav div .navbar-nav li:hover {
        transform: scale(1.1); }
      header nav div .navbar-nav li:hover a {
        color: #16a085 !important; }
      header nav div .navbar-nav li a {
        letter-spacing: 2.4px;
        font-size: 16px;
        color: #ffffff !important;
        text-transform: uppercase;
        font-family: "Gotham Rounded Medium";
        font-weight: 700;
        cursor: pointer;
        transition-duration: 0.5s; } }

/*# sourceMappingURL=style.prefixed.css.map */